
.pirates{
    width: 100%;
    position: relative;
}

.gameWrapper{
    width: 100%;
    min-height: 100vh;
    padding: 10px 0px;
    background: #ddd;
    position: relative;
}

.controls{
    width: 200px;
    height: auto;
    margin: 0 auto;
}

#username{
    width: 190px;
    margin-bottom: 10px;
}

.btn{
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0px;
    border-radius: 3px;
    background: #00217a;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
    user-select: none;
}

.btn:active{
    box-shadow: inset 2px 2px 3px black;
}

#toggleShop{
    visibility: hidden;
}

.canvasWrapper{
    width: 600px;
    height: 620px;
    margin: 20px auto 0px auto;
    position: relative;
}

.canvasWrapper canvas{
    position: absolute;
    top: 20px;
    left: 0px;
    background: black;
}

#messageDiv{
    width: 400px;
    height: auto;
    position: absolute;
    left: 100px;
    top: 320px;
    color: white;
    z-index: 120;
    text-align: center;
}

#typedWord{
    position: absolute;
    top: 0px;
    left: 250px;
}

#shopWrapper{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background: #ccc;
    color: black;
    padding: 10px 0px;
    position: absolute;
    top: calc(50% - 420px);
    left: calc(50% - 300px);
    z-index: 850;
}

.shopInfo{
    width: 100%;
    height: 120px;
    z-index: 855;
}

.shopHeader{
    width: 96%;
    padding: 3px 0px 3px 2%;
    font-weight: bold;
}

.shopItems{
    width: 100%;
    height: 480px;
    overflow: scroll;
}

.shopItem{
    width: 96%;
    min-height: 30px;
    background: #88ff88;
    border: 1px solid black;
    padding: 5px 5px;
    cursor: pointer;
    margin: 8px auto;
    box-shadow: 2px 2px 3px black;
    user-select: none;
}

.shopItem:active{
    box-shadow: inset 2px 2px 3px black;
}

.instructions{
    width: 400px;
    height: auto;
    margin: 50px auto 0px auto;
    list-style-type: disc;
}

#highScores{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: scroll;
    background: #ddd;
    padding-top: 100px;
    z-index: 200;
}

.closeX{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: black;
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
}

.highScoresHeader{
    width: 300px;
    height: auto;
    font-weight: bold;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}
